/* Global Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a
}

/* nav styles */
.nav{
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav{
  background: #1d1d1b;
  padding: 20px;
}

nav img {
  float: left;

}

/*links in navbar*/
nav{
  float: none;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
nav li{
  display: inline-block;
  margin: 0 30px;
}
nav a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;

}
nav a:hover {
  color: #e60000;
}



/* header styles */
.video-container {
  position: relative;
}
.center-text-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}

/* section styles */
.line {
  width: 80%;
  margin-top: 100px;
}

.showcase-container {
  display: flex;
  justify-content: space-around;
}

  .box {
  margin-top: 20px;
  text-align: center;
}

.box h3 {
  color: white;*/
}

.contactquote {
  width: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 13px;
}

/* footer styles */
