/* Global Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1b;
}

/* nav styles */
.nav{
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/*links in navbar*/
nav{
  display: flex;
  align-items: center;
  background: #1d1d1b;
  padding: 20px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

}
nav li{
  display: inline-block;
  margin: 0 30px;
}
nav a{
  color: white;
  font-size: 20px;
  text-decoration: none;

}
nav a:hover {
  color: #e60000;
}

.highlight {
  color: #e60000;
  font-weight: bold;
}



/* header styles */
.video-container {
  position: relative;
}
.center-text-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}




/* section styles */
.line {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid #e60000;
}

.showcase-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;

}


.box h3 {
  color: white;
}

.box {
  text-align: center;
  color: white;
  flex: 1;
}

.showcase-text {
  width: 80%;
  margin: 0 auto;
}

.vrpic {
  max-width: 100%;
}

#contact {
  width: 90%;
  margin: auto;
  color: white;
}

.contactquote {
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.contactquote h2 {
  width: 80%;
  margin: auto;
}

.contactquote p {
  margin-top: 20px;
}

.quote {
  background: #333333;
  width: 90%;
  padding: 20px;
  margin: auto;
  color: white;
}

.contact-form {
  padding-top: 20px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form h2 {
  text-align: center;
}

.form label {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 40%;
}

.form input, textarea {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid gray;
}

.form input {
  width: 40%;
}

.form textarea {
  width: 40%;
  resize: none;
}

/* footer styles */
footer {
  background: #333333;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
}

footer p {
  margin-left: 12px;
}

.fa {
  padding: 20px 7px;
  font-size: 30px;
  width: 40px;
  text-decoration: none;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.social-media {
  margin-left: auto;
}
