/* Global Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a
}

/* nav styles */
.nav{
  margin: 0px;
  width: 100%;
  position: fixed;

}
nav{
  background: #1d1d1b;
  background-color: transparent;
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

/*links in navbar*/
nav{
  float: none;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
nav li{
  display: inline-block;
  margin: 0 30px;
}
nav a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;

}
nav a:hover {
  color: #e60000;
}
.active{
  color: #e60000;
}


/* header styles */
.video-container {
  position: relative;
}
.center-text-header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}




/* section styles */
.line {
  width: 80%;
  margin-top: 100px;
}

.box {
  float: left;
  width: 20%;
  padding: 80px;
  margin-top: 20px;
  text-align: center;
}

<<<<<<< HEAD
.vrpic {
  width: 350px;
  height: 270px;
}

.box h3 {
  color: white;
}




=======
.contactquote {
  position: absolute;
  top: 190%;
  left: 38%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 13px;
}
>>>>>>> 5700cb355b11a80d9fee2118a5ce681468e7d9b7
/* footer styles */
