/* Global Styles */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1d1d1b;
}

/* nav styles */
.nav{
  margin: 0px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/*links in navbar*/
nav{
  display: flex;
  align-items: center;
  background: #1d1d1b;
  padding: 20px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;

}
nav li{
  display: inline-block;
  margin: 0 30px;
}
nav a{
  color: white;
  font-size: 20px;
  text-decoration: none;

}
nav a:hover {
  color: #e60000;
}





/* header styles */
.video-container {
  position: relative;
}
.center-text-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  text-align: center;
}




/* section styles */
.line {
  width: 80%;
  margin-top: 100px;
}

.showcase-container {
  display: flex;
  justify-content: space-around;
}

.box h3 {
  color: white;
}

.box {
  margin-top: 100px;
  text-align: center;
}

#contact {
  display: flex;
  margin-top: 100px;
  color: white;
}


.contactquote {
  color: white;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  flex: 1;
}

.contact-form {
  flex: 1;
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  padding-top: 20px;
}

.form input, textarea {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid gray;
}

/* footer styles */
